# IDE
.idea/
!.idea/filetypes.txt
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Dependencies
composer.lock
vendor/
node_modules/

# Environment
.env
.env.local
.env.*.local

# Variables
/var/*
!var/.gitkeep


# Testing
.phpunit.result.cache

# PHPStan
.phpstan/

# CS Fixer
.php-cs-fixer.cache

# AI Agents
.config/agents/*.local.md

