parameters:
    level: 5
    paths:
        - src/Board
        - src/Shared/Domain
        - src/SharedKernel/Infrastructure/Sentry
        - src/Task

    excludePaths:
        - src/SharedKernel/Infrastructure/Sentry/SentryFeatureTagger.php
        - src/Shared/Domain/Timestampable.php

    ignoreErrors:
        - '/Property .+ is never written, only read./'
        - '/Deprecated in PHP 8\.(0|1): Required parameter .+ follows optional./'
