name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

permissions:
  contents: read
  checks: write

jobs:
  quality:
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres:16-alpine
        env:
          POSTGRES_DB: app_db
          POSTGRES_USER: user
          POSTGRES_PASSWORD: password
        ports:
          - 5432:5432
        options: >-
          --health-cmd "pg_isready -U user -d app_db"
          --health-interval 5s
          --health-timeout 5s
          --health-retries 5

      redis:
        image: redis:7-alpine
        ports:
          - 6379:6379
        options: >-
          --health-cmd "redis-cli ping"
          --health-interval 5s
          --health-timeout 5s
          --health-retries 5

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.5'
          extensions: mbstring, xml, ctype, iconv, intl, pdo_pgsql
          coverage: none

      - name: Install dependencies
        run: composer install --no-interaction --no-scripts --prefer-dist --optimize-autoloader

      - name: Check Code Style (Pint)
        run: vendor/bin/pint --test

      - name: Static Analysis (PHPStan Level 9)
        run: vendor/bin/phpstan analyze --level=9

      - name: Prepare Database
        env:
          DATABASE_URL: postgres://user:password@127.0.0.1:5432/app_db
        run: |
          bin/console doctrine:database:create --env=test || true
          bin/console doctrine:migrations:migrate --no-interaction --env=test || true

      - name: Run Tests
        env:
          DATABASE_URL: postgres://user:password@127.0.0.1:5432/app_db
          REDIS_URL: redis://127.0.0.1:6379
          MESSENGER_TRANSPORT_DSN: redis://127.0.0.1:6379/messages
        run: vendor/bin/phpunit --stop-on-failure
